* {
	margin: 0;
	padding: 0;
	font-family: "microsoft yahei";
	color: #333
}

img {
	display: block;
	width: 100%
}

a {
	text-decoration: none;
}

ul,
li,
ol {
	list-style: none;
	outline: none;
}

em,
i {
	font-style: initial;
}

html,
body {
	position: relative;
	height: 100%;
	max-width: 640px;
	margin: 0 auto
}

body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000;
	padding: 0;
	max-width:640px;margin:0 auto
}

/******comm*****/
.clear{clear: both;}
.comm_header{width: 5.76rem;height: 2.48rem;box-sizing: border-box;padding-top: 0.57rem;}
.part2_flex_box h3{font-size: 0.3rem;font-weight: bolder;width: 5.52rem;height: 0.51rem;margin: 0 auto;box-sizing: border-box;background:url('../images/zzImagesYingJiReMai/index2_title_bg.png') center no-repeat;background-size:100% 100%;text-align: center;padding-top: 0.15rem;}
.part3_flex_box h3{font-size: 0.3rem;font-weight: bolder;width: 5.87rem;height: 0.55rem;margin: 0 auto;box-sizing: border-box;background:url('../images/zzImagesYingJiReMai/index3_title_bg.png') center no-repeat;background-size:100% 100%;text-align: center;padding-top: 0.15rem;color: white;}
.part4_flex_box h3{font-size: 0.3rem;font-weight: bolder;width: 5.57rem;height: 0.58rem;margin: 0 auto;box-sizing: border-box;background:url('../images/zzImagesYingJiReMai/index4_title_bg.png') center no-repeat;background-size:100% 100%;text-align: center;padding-top: 0.15rem;}
.part5_flex_box h3{font-size: 0.3rem;font-weight: bolder;width: 5.31rem;height: 0.55rem;margin: 0 auto;box-sizing: border-box;background:url('../images/zzImagesYingJiReMai/index5_title_bg.png') center no-repeat;background-size:100% 100%;text-align: center;padding-top: 0.15rem;}
.comm_header span{display:block;margin:0.32rem auto 0.66rem auto;text-align:center;font-size: 0.23rem;width: 5.52rem;height: 0.55rem;line-height: 0.3rem;transform:scale(0.8,0.8);}
.banner_bottom{display:block;width:5.76rem;padding:0.64rem 0 0.64rem 0;box-sizing: border-box;}
.banner_bottom p{margin: 0 auto;width:4.94rem;height:0.43rem;line-height:0.43rem;background:url('../images/zzImagesYingJiReMai/bottom_tel_bg.png') center no-repeat;background-size:100% 100%; text-align: center;font-size: 0.23rem;color: white;}


/***content****/
.comm_width{clear:both;width:90%;margin:0.275rem auto}







/*******logo******/
.logo{width: 100%;height: 1.18rem;}
.logo_center{width: 6.4rem;height: 1.18rem;}

.logo_img{width: 2.70rem;height: 1.18rem;float: left;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;box-sizing: border-box;padding-left: 0.5rem;}
.logo_img img{width: 2.09rem;height: 0.51rem;}

.logo_line{width: 0.18rem;height: 1.18rem;float: left;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;}
.logo_line img{width: 0.01rem;height: 0.46rem;}

.logo_16{width: 3.52rem;height: 1.18rem;float: left;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;box-sizing: border-box;padding-right: 0.5rem;}
.logo_16 img{width: 2.88rem;height: 0.54rem;}







/****part01*****/
.index_part01_bg{width: 100%;height: 4.2rem;}
.index_part01{width: 6.4rem;height: 4.2rem;}

.part01_middle{width: 5.94rem;height: 4.2rem;margin: 0 auto;}

.form_top{width: 5.94rem;height: 1.78rem;}
.form_top label{font-size: 0.17rem;width: 1.07rem;height: 0.44rem;display: block;display: flex;justify-content: center;align-items: center;}
.form_top label span{color: red;}
.form_top input{width: 3.85rem;height: .44rem;border-radius: 0.1rem;border: 1px solid #909090;display: block;}
.form_top_top {width: 5.94rem;height: .77rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-between;align-items: center;padding-left: 0.2rem;box-sizing: border-box;}
.form_top_bottom {width: 5.94rem;height: .77rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-between;align-items: center;padding-left: 0.2rem;box-sizing: border-box;}

.form_bottom{width: 5.94rem;height: 2.01rem;}
.form_bottom_top{width: 5.94rem;height: .64rem;font-size: .2rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;}
.form_bottom_top span{color: red;}

.form_bottom_bottom{width: 5.94rem;height: 1.38rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;}

.form_bottom_bottom button{width: 4.93rem;height: .86rem;border: 1px solid #909090;border-radius: 0.1rem;background-color: white;font-weight: normal;font-size: .3rem;}
.form_bottom_bottom button span{color: red;font-weight: bold;}











/****part011*****/

.index_part011_bg{width: 100%;height: 0.55rem;box-sizing: border-box;background-color: #fff;}

.index_part011{width: 6.4rem;height: 0.55rem;}

.part011_center{width: 6.4rem;height: 0.55rem;margin: 0 auto;position: relative;}

.part011_left{width: 1.46rem;height: 0.55rem;position: absolute;left: 0.38rem;top: 0;box-sizing: border-box;padding-top: 0.1rem;}

.part011_left img{width: 1.46rem;height: 0.39rem;}

.part011_right{width: 4.03rem;height: 0.55rem;position: absolute;right: 0;top: 0;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: flex-start;align-items: center;}

.part011_right_icon{width: 0.31rem;height: 0.55rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;}

.part011_right_icon img{width: 0.31rem;height: 0.31rem;}

.part011_right_font{width: 3.72rem;height: 0.55rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: flex-start;align-items: center;box-sizing: border-box;padding-left: 0.1rem;}

.part011_right_font h6{color: #080808;font-size: 0.19rem;font-weight: normal;margin-right: 0.04rem;}

.part011_right_font h3{color: #080808;font-size: 0.27rem;font-weight: bold;}







/****part022*****/

.index_part022_bg{width: 100%;height: 3.25rem;box-sizing: border-box;background-image: url(../images/zzImagesYingJiReMai/part022_bg.jpg);background-repeat: no-repeat;background-size: 100% 100%;}

.index_part022{width: 6.4rem;height: 3.25rem;}

.part022_center{width: 6.4rem;height: 3.25rem;margin: 0 auto;position: relative;}

.part022_button{width: 2.4rem;height: 0.44rem;position: absolute;top: 2.26rem;right: 0.37rem;}

.part022_button img{width: 2.4rem;height: 0.44rem;}






















/****part023*****/

.index_part023_bg{width: 100%;height: 3.28rem;box-sizing: border-box;background-image: url(../images/zzImagesYingJiReMai/part023_bg.jpg);background-repeat: no-repeat;background-size: 100% 100%;}

.index_part023{width: 6.4rem;height: 3.28rem;}

.part023_center{width: 6.4rem;height: 3.28rem;margin: 0 auto;position: relative;}

.part023_button{width: 2.4rem;height: 0.44rem;position: absolute;top: 2.26rem;right: 0.37rem;}

.part023_button img{width: 2.4rem;height: 0.44rem;}











/****part024*****/

.index_part024_bg{width: 100%;height: 3.3rem;box-sizing: border-box;background-image: url(../images/zzImagesYingJiReMai/part024_bg.jpg);background-repeat: no-repeat;background-size: 100% 100%;}

.index_part024{width: 6.4rem;height: 3.3rem;}

.part024_center{width: 6.4rem;height: 3.3rem;margin: 0 auto;position: relative;}

.part024_button{width: 2.4rem;height: 0.44rem;position: absolute;top: 2.26rem;right: 0.37rem;}

.part024_button img{width: 2.4rem;height: 0.44rem;}















/****part028*****/

.index_part028_bg{width: 4.65rem;height: 3.29rem;box-sizing: border-box;position: fixed; z-index: 77;left: 0.9rem;top: 3.73rem;display: none;}

.index_part028{width: 4.65rem;height: 3.29rem;}

.part028_center{width: 4.65rem;height: 3.29rem;margin: 0 auto;position: relative;}



.part028_image{width: 4.65rem;height: 0.87rem;position: absolute;left: 0;top: 0;}

.part028_image img{width: 4.65rem;height: 0.87rem;}



.part028_close{width: 0.27rem;height: 0.27rem;position: absolute;top: -0.18rem;right: -0.44rem;}

.part028_close img{width: 0.27rem;height: 0.27rem;}



.part028_block{width: 4.65rem;height: 2.38rem;position: absolute;left: 0;bottom: 0;background-image: url(../images/zzImagesYingJiReMai/part028_block_form_bg.png);background-repeat: no-repeat;background-size: 100% 100%;z-index: 21;}

.part028_block_form{width: 4.65rem;height: 2.38rem;}

.part028_block_form form{width: 4.65rem;height: 2.38rem;position: relative;}

.part028_block_form_name{width: 3.91rem;height: 0.51rem;line-height: 0.51rem;box-sizing: border-box;padding-left: 0.3rem;border: none;position: absolute;left: 0.37rem;top: 0.27rem;background-color: #fff;border-radius: 0.05rem;}

.part028_block_form_tel{width: 3.91rem;height: 0.51rem;line-height: 0.51rem;box-sizing: border-box;padding-left: 0.3rem;border: none;position: absolute;left: 0.37rem;top: 0.87rem;background-color: #fff;border-radius: 0.05rem;}

.part028_block_form_submit{width: 3.89rem;height: 0.47rem;border: none;box-sizing: border-box;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;position: absolute;position: absolute;left: 0.37rem;top: 1.51rem;background-image: url(../images/zzImagesYingJiReMai/part028_block_form_submit_bg.png);background-repeat: no-repeat;background-size: 100% 100%;border-radius: 0.1rem 0.1rem 0.2rem 0.2rem;}

.part028_block_form_submit h3{color: #fff;font-size: 0.33rem;font-weight: normal;}

.part028_block_form_icon_one{color: #ff0101;font-size: 0.27rem;position: absolute;left: 0.45rem;top: 0.98rem;z-index: 21;}











.part028_block_form input::-webkit-input-placeholder {color: #717171 !important;font-size: 0.27rem !important;font-weight: normal !important;position:relative !important;top:0rem !important;}

.part028_block_form input::input-placeholder {color: #717171 !important;font-size: 0.27rem !important;font-weight: normal !important;position:relative !important;top:0rem !important;}

.part028_block_form input:-ms-input-placeholder {color: #717171 !important;font-size: 0.27rem !important;font-weight: normal !important;position:relative !important;top:0rem !important;}

.part028_block_form input::-moz-placeholder {color: #717171 !important;font-size: 0.27rem !important;font-weight: normal !important;position:relative !important;top:0rem !important;}




.part028_ice{width: 6.36rem;height: 2.46rem;position: absolute;left: -0.86rem;bottom: -1.16rem;z-index: 11;}

.part028_ice img{width: 6.36rem;height: 2.46rem;}







/****part029*****/

.index_part029_bg{width: 100%;height: 100%;box-sizing: border-box;position: fixed; z-index: 66;left: 0;top: 0;background-color: rgba(0, 0, 0, 0.8);display: none;}









/****part031*****/

.index_part031_bg{width: 100%;height: 3.37rem;box-sizing: border-box;background-image: url(../images/zzImagesYingJiReMai/part031_bg.jpg);background-repeat: no-repeat;background-size: 100% 100%;}

.index_part031{width: 6.4rem;height: 3.37rem;}

.part031_center{width: 6.4rem;height: 3.37rem;margin: 0 auto;position: relative;}

.part031_button{width: 2.4rem;height: 0.44rem;position: absolute;top: 2.26rem;right: 0.37rem;}

.part031_button img{width: 2.4rem;height: 0.44rem;}



/****part032*****/

.index_part032_bg{width: 100%;height: 3.37rem;box-sizing: border-box;background-image: url(../images/zzImagesYingJiReMai/part032_bg.jpg);background-repeat: no-repeat;background-size: 100% 100%;}

.index_part032{width: 6.4rem;height: 3.37rem;}

.part032_center{width: 6.4rem;height: 3.37rem;margin: 0 auto;position: relative;}

.part032_button{width: 2.4rem;height: 0.44rem;position: absolute;top: 2.26rem;right: 0.37rem;}

.part032_button img{width: 2.4rem;height: 0.44rem;}




/****part033*****/

.index_part033_bg{width: 100%;height: 3.37rem;box-sizing: border-box;background-image: url(../images/zzImagesYingJiReMai/part033_bg.jpg);background-repeat: no-repeat;background-size: 100% 100%;}

.index_part033{width: 6.4rem;height: 3.37rem;}

.part033_center{width: 6.4rem;height: 3.37rem;margin: 0 auto;position: relative;}

.part033_button{width: 2.4rem;height: 0.44rem;position: absolute;top: 2.26rem;right: 0.37rem;}

.part033_button img{width: 2.4rem;height: 0.44rem;}



/****part034*****/

.index_part034_bg{width: 100%;height: 9.67rem;background-color: #238ee1;}

.index_part034{width: 100%;height: 9.67rem;}

.part034_center{width: 100%;height: 9.67rem;margin: 0 auto;box-sizing: border-box;}



.part034_top{width: 6.4rem;height: 1.53rem;margin: 0 auto 0 auto;}

.part034_top_title{width: 6.4rem;height: 1.53rem;display: flex;flex-direction: column;flex-wrap: nowrap;justify-content: center;align-items: center;}

.part034_top_title h3{font-size: 0.37rem;color: #fff;font-weight: bold;}

.part034_top_title h6{font-size: 0.21rem;color: #fff;font-weight: normal;}




.part034_middle{width: 6.4rem;height: 0.55rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;margin: 0 auto 0.1rem auto;}

.part034_middle ul{width: 5.17rem;height: 0.55rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-between;align-items: center;margin: 0 auto;}

.part034_middle ul li{width: 2.57rem;height: 0.55rem;line-height: 0.55rem;text-align: center;background-image: url(../images/zzImagesYingJiReMai/part034_middle_li_bg.png);background-repeat: no-repeat;background-size: 100% 100%;transition: all ease 0.5s;}

.part034_middle ul li h3{color: #FFFFFF;font-size: 0.3rem;font-weight: normal;}

.activeitem200{background-image: url(../images/zzImagesYingJiReMai/part034_middle_li_bg_active.png) !important;}








.part034_bottom{overflow: hidden;width: 95%;margin: 0 auto;height: 7.19rem;background-color: rgba(255, 255, 255, 0.2);border-radius: 0.34rem;}

.swiper-slide{width: 100%;height: 100%;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;box-sizing: border-box;padding-top: 0.25rem;}

.part034_bottom img{width: 5.82rem;height: 6.67rem;}






/****part041*****/

.index_part041_bg{width: 100%;height: 5.34rem;box-sizing: border-box;background-image: url(../images/zzImagesYingJiReMai/part041_bg.jpg);background-repeat: no-repeat;background-size: 100% 100%;}

.index_part041{width: 6.4rem;height: 5.34rem;}

.part041_center{width: 6.4rem;height: 5.34rem;margin: 0 auto;position: relative;}

.part041_top{width: 3.54rem;height: 1.34rem;position: absolute;left: 1.43rem;top: 0;}

.part041_top img{width: 3.54rem;height: 1.34rem;}

.part041_bottom{width: 6.4rem;height: 4rem;position: absolute;left: 0;bottom: 0;}

.part041_bottom ul{width: 6.4rem;height: 4rem;}

.part041_bottom ul li:nth-child(1){width: 6.4rem;height: 3.89rem;background-image: url(../images/zzImagesYingJiReMai/part041_bottom_li1_bg.png);background-repeat: no-repeat;background-size: 6.38rem 3.89rem;background-position: center top;}

.part041_bottom ul li:nth-child(2){width: 6.4rem;height: 4.16rem;background-image: url(../images/zzImagesYingJiReMai/part041_bottom_li2_bg.png);background-repeat: no-repeat;background-size: 6.38rem 3.89rem;background-position: center top;}

.part041_bottom ul li{position: relative;}

.part041_bottom_li_link_01{width: 1.07rem;height: 1.13rem;position: absolute;left: 1.09rem;top: 2.48rem;}

.part041_bottom_li_link_01 a{width: 1.07rem;height: 1.13rem;}

.part041_bottom_li_link_01 a img{width: 1.07rem;height: 1.13rem;}

.part041_bottom_li_link_02{width: 1.07rem;height: 1.13rem;position: absolute;left: 4.19rem;top: 2.48rem;}

.part041_bottom_li_link_02 a{width: 1.07rem;height: 1.13rem;}

.part041_bottom_li_link_02 a img{width: 1.07rem;height: 1.13rem;}

.part041_bottom_li_link_03{width: 1.07rem;height: 1.13rem;position: absolute;left: 1.09rem;top: 2.28rem;}

.part041_bottom_li_link_03 a{width: 1.07rem;height: 1.13rem;}

.part041_bottom_li_link_03 a img{width: 1.07rem;height: 1.13rem;}

.part041_bottom_li_link_04{width: 1.07rem;height: 1.13rem;position: absolute;left: 4.19rem;top: 2.28rem;}

.part041_bottom_li_link_04 a{width: 1.07rem;height: 1.13rem;}

.part041_bottom_li_link_04 a img{width: 1.07rem;height: 1.13rem;}







/******footer*****/

.footer_bg{width: 6.4rem;height: 0.89rem;margin: 0 auto;position: fixed;bottom: 0; z-index: 88;background-image: url(../images/zzImagesYingJiReMai/footer_bg.png);background-repeat: no-repeat;background-size: 100% 100%;}

.footer{width: 6.1rem;height: 0.89rem;margin: 0 auto;position: relative;}


.footer_a_01{width: 2.73rem;height: 0.67rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;position: absolute;left: 0;bottom: 0;}

.footer_a_01 img{width: 0.32rem;height: 0.24rem;margin-right: 0.19rem;}

.footer_a_01 h6{color: #101010;font-size: 0.29rem;font-weight: normal;}


.footer_a_02{width: 0.64rem;height: 0.89rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: flex-start;box-sizing: border-box;padding-top: 0.12rem;position: absolute;left: 2.73rem;top: 0;}

.footer_a_02 img{width: 0.57rem;height: 0.57rem;}



.footer_a_03{width: 2.73rem;height: 0.67rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;position: absolute;right: 0;bottom: 0;}

.footer_a_03 img{width: 0.29rem;height: 0.33rem;margin-right: 0.19rem;}

.footer_a_03 h6{color: #101010;font-size: 0.29rem;font-weight: normal;}




/******footer_block*****/

.footer_block{ width: 5.76rem;height: 0.67rem; }








/*******scroll_top_block******/

.scroll_top_block_01{
	width: 0.54rem;
	height: 0.54rem;
	position: fixed;
	right: 0.22rem;
	bottom: 0.76rem;
	z-index: 99;
  }
  
  
  .scroll_top_block_piece{
	width: 0.54rem;
	height: 0.54rem;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
  }
  
  
  .scroll_top_block_piece img{
	width: 0.54rem;
	height: 0.54rem;
  }
  

  