 @font-face{font-family: 'myotf';src : url('myfont.otf');}
 @font-face{font-family: 'impact';src : url('impact.ttf');} 
 @font-face{font-family: 'myttf';src : url('myfont1.ttf');}
 @font-face{font-family: 'mynew';src : url('mynew.OTF');}  



body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; font-family: mynew,Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;font-size: 16px;}

.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}

.clearfix { *zoom:1; } 

/******上面是css初始化******/



/*******.nav_block导航开始********/


.nav_block{width: 19.2rem;min-height: 0.63rem;position: fixed;left: 0;top: 0;z-index: 1222;display: block;}

.nav_center{width: 100%;min-height: 0.63rem;}

.nav_top{width: 100%;height: 0.63rem;background-color: rgba(255,255,255,1);}

.nav_top_block{width: 19.2rem;height: 0.63rem;box-sizing: border-box;position: relative;}

.nav_top_block_piece{width: 15rem;height: 0.63rem;margin: 0 auto;}



.nav_top_block_piece_logo_mian{width: 15rem;height: 0.63rem;}

.nav_top_block_piece_logo_mian ul{width: 15rem;height: 0.63rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-between;align-items: center;}

.nav_top_block_piece_logo_mian ul li{width: 1.75rem;height: 0.63rem;}

.nav_top_block_piece_logo_mian ul li a{width: 1.75rem;height: 0.63rem;}

.part01_right_li_font{width: 1.75rem;height: 0.63rem;line-height: 0.63rem;text-align: center;}

.part01_right_li_font h3{color: #252F36;font-size: 0.2rem;font-weight: normal;transition: all ease 0.5s;}




.nav_top hr{width: 100%; height: 1px; background-color: rgba(112,112,112,0.49);margin: 0;border: none;}

.nav_top_block_piece_logo_mian_active h3{color: #252F36 !important;}

.nav_top_block_piece_logo_mian_active hr{background-color: #006EFF !important;}






.nav_bottom{width: 100%;height: auto;position: relative;}

.nav_bottom>ul{width: 100%;height: auto;position: relative;}

.nav_bottom>ul>li:nth-child(1){width: 100%;height: 5.8rem;background-color: #fff;position: absolute;left: 0;top: 0;z-index: 21;display: none;transition: all ease 0.5s;border-top: 1px solid rgba(112,112,112,0.49);}

.nav_bottom>ul>li:nth-child(2){width: 100%;height: 5.8rem;background-color: #fff;position: absolute;left: 0;top: 0;z-index: 20;display: none;transition: all ease 0.5s;border-top: 1px solid rgba(112,112,112,0.49);}

.nav_bottom>ul>li:nth-child(3){width: 100%;height: 5.8rem;background-color: #fff;position: absolute;left: 0;top: 0;z-index: 19;display: none;transition: all ease 0.5s;border-top: 1px solid rgba(112,112,112,0.49);}

.nav_bottom_block{width: 15.73rem;height: 4.92rem;position: absolute;left: 1.6rem;top: 0.4rem;}

.nav_bottom_block_left{width: 7.75rem;height: 4.92rem;position: absolute;left: 0;top: 0;}

.nav_bottom_block_left>ul{width: 4rem;height: 4.88rem;display: flex; flex-direction: column;flex-wrap: nowrap;justify-content: space-between;align-items: center;}

.nav_bottom_block_left>ul>li{width: 4rem;height: 0.61rem;cursor: pointer;transition: all ease 0.5s;}

.nav_bottom_block_left_piece{width: 4rem;height: 0.6rem;line-height: 0.6rem;text-align: left;box-sizing: border-box;padding-left: 0.51rem;}

.nav_bottom_block_left_piece h3{color: #252F36;font-size: 0.18rem;font-weight: normal;transition: all ease 0.5s;}

.nav_bottom_block_left_icon{width: 4rem; height: 1px;position: relative;}

.nav_bottom_block_left_icon img{width: 4rem; height: 1px;position: absolute;left: 0;top: 0;transition: all ease 0.5s;}




.nav_bottom_block_left_li_one_active{background-color: #59B976 !important;}

.nav_bottom_block_left_li_one_active .nav_bottom_block_left_piece h3{color: #fff !important;}

.nav_bottom_block_left_li_one_active .nav_bottom_block_left_icon img{display: none;}





.nav_bottom_block_left_next_two{width: auto;position: absolute;left: 4.37rem;top: 0;display: none;}

.nav_bottom_block_left_next_two>ul{display: grid;grid-template-rows: repeat(8, 0.57rem); /* 定义8行 */grid-auto-flow: column; /* 项目按列填充 */grid-column-gap: 0.5rem; /* 列之间的间距，根据需要调整 */grid-row-gap: 0.05rem; /* 行之间的间距 */position: relative;z-index: 111;align-items: start;justify-items: start;grid-template-columns: repeat(auto-fill, 1.86rem);  /* 每列宽度固定为1.86rem */}

.nav_bottom_block_left_next_two>ul>li{width: 1.86rem;height: 0.57rem;list-style: none;}

.nav_bottom_block_left_next_two_icon{width: 0.19rem;height: 0.57rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: flex-start;align-items: center;float: left;}

.nav_bottom_block_left_next_two_icon img{width: 0.07rem;height: 0.11rem;}

.nav_bottom_block_left_next_two_piece{width: 1.67rem;height: 0.57rem;line-height: 0.57rem;float: left;}

.nav_bottom_block_left_next_two_piece h3{color:#252F36;font-size: 0.2rem;font-weight: normal; white-space: nowrap;}

.nav_bottom_block_left_li_two_active .nav_bottom_block_left_next_two_piece h3{color: #59B976 !important;}





.nav_bottom_block_left_next_two_next_three{display: none;width: 1.86rem;height: 4.92rem;position: absolute;left: 1.86rem;top: 0;transition: all ease 0.5s;}

.nav_bottom_block_left_next_two_next_three_vertical_line{width: 1px;height: 4.92rem;float: left;}

.nav_bottom_block_left_next_two_next_three_vertical_line img{width: 1px;height: 4.92rem;}

.nav_bottom_block_left_next_two_next_three ul{width: 1.84rem;height: 4.92rem;float: left;}

.nav_bottom_block_left_next_two_next_three ul li{width: 1.84rem;height: 0.52rem;}

.nav_bottom_block_left_next_two_next_three ul li a{width: 1.84rem;height: 0.52rem;line-height: 0.52rem;text-align: left;display: block;box-sizing: border-box;padding-left: 0.22rem;}

.nav_bottom_block_left_next_two_next_three ul li a h3{color: #252F36;font-size: 0.18rem;font-weight: normal;white-space: nowrap;}


.nav_bottom_block_left_li_three_active h3{color: #59B976 !important;}





.nav_bottom_block_middle{width: 4.13rem;height: 2.61rem;position: absolute;right: 0;top: 0.5rem;overflow: hidden;}

.nav_bottom_block_middle ul{width: 4.13rem;height: 2.61rem;position: absolute; left: 0; top: 0;}

.nav_bottom_block_middle ul li{width: 4.13rem;height: 2.61rem;position: absolute; left: 0; top: 0;display: none;}

.nav_bottom_block_middle ul li img{width: 4.13rem;height: 2.61rem;transition: all ease 0.5s;}

.nav_bottom_block_middle:hover img{transform: scale(1.1);}


.nav_bottom_block_right{width: 1.99rem;height: 1.08rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;position: absolute;right: 0;bottom: 0;z-index: 999;}

.nav_bottom_block_right_contact{width: 1.99rem;height: 1.08rem;display: flex;flex-direction: column;flex-wrap: nowrap;justify-content: space-between;align-items: center;cursor: pointer;}

.nav_bottom_block_right_contact_tel{width: 1.99rem;height: 0.49rem;line-height: 0.49rem;text-align: center;box-sizing: border-box;border: 1px solid #707070;border-radius: 0.04rem;}

.nav_bottom_block_right_contact_tel h3{color: #252F36;font-size: 0.26rem;font-weight: normal;font-family: impact;}

.nav_bottom_block_right_contact_link{width: 1.99rem;height: 0.49rem;box-sizing: border-box;background-color: #59B976;border-radius: 0.04rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;}

.nav_bottom_block_right_contact_link a{width: 1.99rem;height: 0.49rem;box-sizing: border-box;background-color: #59B976;border-radius: 0.04rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;}

.nav_bottom_block_right_contact_link img{width: 0.28rem; height: 0.26rem;margin-right: 0.1rem;}

.nav_bottom_block_right_contact_link h3{font-size: 0.18rem;font-weight: bold;color: #fff;}






.nav_hr{width: 100%;height: 0.08rem;position: absolute;top: 6.36rem;left: 0;z-index: 122;}

.nav_hr_one{width: 100%;height: 0.08rem;background-color: #59B976;display: none;position: absolute;left: 0;top: 0;z-index: 21;}

.nav_hr_two{width: 100%;height: 0.08rem;background-color: #59B976;display: none;position: absolute;left: 0;top: 0;z-index: 20;}

.nav_hr_three{width: 100%;height: 0.08rem;background-color: #59B976;display: none;position: absolute;left: 0;top: 0;z-index: 19;}






.nav_bottom_piece{width: 15.91rem;height:3.69rem;position: absolute;left: 1.55rem;top: 0.93rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;}

.nav_bottom_piece_left{width: 10.39rem;height:3.69rem;}

.nav_bottom_piece_left_content{width: 10.39rem;height: 3.15rem;}

.nav_bottom_piece_left_content_h3{width: 10.39rem;height: 0.64rem;}

.nav_bottom_piece_left_content_h3 h3{color: #252F36;font-size: 0.3rem;font-weight: bold;}

.nav_bottom_piece_left_content_p{width: 10.39rem;height: 2.51rem;box-sizing: border-box;padding-right: 0.4rem;}

.nav_bottom_piece_left_content_p p{color:#333333;font-size:0.2rem;font-weight:normal;margin-bottom: 0.3rem;}




.nav_bottom_piece_left_content_link{width: 10.39rem;height: 0.54rem;}

.nav_bottom_piece_left_content_link ul{width: 10.39rem;height: 0.54rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: flex-start;align-items: center;}

.nav_bottom_piece_left_content_link ul li{width: 2.5rem;height: 0.54rem;margin-right: 0.59rem;background-color: transparent;transition: all ease 0.5s;}

.nav_bottom_piece_left_content_link ul li a{width: 2.5rem;height: 0.54rem;}

.nav_bottom_piece_left_content_link_li_a_chunk{width: 2.5rem;height: 0.52rem;position: relative;}

.nav_bottom_piece_left_content_link_li_a_chunk h3{color: #252F36;font-size: 0.18rem;font-weight: normal;position: absolute;left: 0;top: 50%;transform: translateY(-50%);transition: all ease 0.5s;}


.nav_bottom_piece_left_content_link_li_a_chunk_icon{width: 0.07rem;height: 0.1rem;position: absolute;right: 0;top: 50%;transform: translateY(-50%);transition: all ease 0.5s;}

.nav_bottom_piece_left_content_link_li_a_chunk_icon img:nth-of-type(1){position: absolute;left: 0;top: 0;}

.nav_bottom_piece_left_content_link_li_a_chunk_icon img:nth-of-type(2){display: none;position: absolute;left: 0;top: 0;}

.nav_bottom_piece_left_content_link_li_a_chunk_icon img{width: 0.07rem;height: 0.1rem;transition: all ease 0.5s;}




.nav_bottom_piece_left_content_link_li_a_line{width: 2.5rem;height: 1px;position: relative;}

.nav_bottom_piece_left_content_link_li_a_line img{width: 2.5rem;height: 1px;position: absolute;left: 0;top: 0;}



.nav_bottom_piece_right{width: 5.52rem;height:3.69rem;box-sizing: border-box;padding-top: 0.2rem;}

.nav_bottom_piece_right_img{width: 5.52rem;height:3.49rem;overflow: hidden;}

.nav_bottom_piece_right_img img{width: 5.52rem;height:3.49rem;transition: all ease 0.5s;}

.nav_bottom_piece_right_img:hover img{transform: scale(1.1);}





.nav_bottom_lump{width: 15.73rem;height: 4.92rem;position: absolute;left: 1.6rem;top: 0.4rem;}

.nav_bottom_lump_left{width: 7.75rem;height: 4.92rem;position: absolute;left: 0;top: 0;}

.nav_bottom_lump_left>ul{width: 4rem;height: 4.88rem;display: flex; flex-direction: column;flex-wrap: nowrap;justify-content: space-between;align-items: center;}

.nav_bottom_lump_left>ul>li{width: 4rem;height: 0.61rem;cursor: pointer;transition: all ease 0.5s;}

.nav_bottom_lump_left_piece{width: 4rem;height: 0.6rem;line-height: 0.6rem;text-align: left;box-sizing: border-box;padding-left: 0.51rem;}

.nav_bottom_lump_left_piece h3{color: #252F36;font-size: 0.18rem;font-weight: normal;transition: all ease 0.5s;}

.nav_bottom_lump_left_icon{width: 4rem; height: 1px;position: relative;}

.nav_bottom_lump_left_icon img{width: 4rem; height: 1px;position: absolute;left: 0;top: 0;transition: all ease 0.5s;}




.nav_bottom_lump_left_li_one_active{background-color: #59B976 !important;}

.nav_bottom_lump_left_li_one_active .nav_bottom_lump_left_piece h3{color: #fff !important;}

.nav_bottom_lump_left_li_one_active .nav_bottom_lump_left_icon img{display: none;}





.nav_bottom_lump_left_next_two{width: auto;position: absolute;left: 4.37rem;top: 0;display: none;}

.nav_bottom_lump_left_next_two>ul{display: grid;grid-template-rows: repeat(8, 0.57rem); /* 定义8行 */grid-auto-flow: column; /* 项目按列填充 */grid-column-gap: 0.5rem; /* 列之间的间距，根据需要调整 */grid-row-gap: 0.05rem; /* 行之间的间距 */position: relative;z-index: 111;align-items: start;justify-items: start;grid-template-columns: repeat(auto-fill, 1.86rem);  /* 每列宽度固定为1.86rem */}

.nav_bottom_lump_left_next_two>ul>li{width: 1.86rem;height: 0.57rem;list-style: none;}

.nav_bottom_lump_left_next_two_icon{width: 0.19rem;height: 0.57rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: flex-start;align-items: center;float: left;}

.nav_bottom_lump_left_next_two_icon img{width: 0.07rem;height: 0.11rem;}

.nav_bottom_lump_left_next_two_piece{width: 1.67rem;height: 0.57rem;line-height: 0.57rem;float: left;}

.nav_bottom_lump_left_next_two_piece h3{color:#252F36;font-size: 0.2rem;font-weight: normal; white-space: nowrap;}

.nav_bottom_lump_left_li_two_active .nav_bottom_lump_left_next_two_piece h3{color: #59B976 !important;}





.nav_bottom_lump_left_next_two_next_three{display: none;width: 1.86rem;height: 4.92rem;position: absolute;left: 1.86rem;top: 0;transition: all ease 0.5s;}

.nav_bottom_lump_left_next_two_next_three_vertical_line{width: 1px;height: 4.92rem;float: left;}

.nav_bottom_lump_left_next_two_next_three_vertical_line img{width: 1px;height: 4.92rem;}

.nav_bottom_lump_left_next_two_next_three ul{width: 1.84rem;height: 4.92rem;float: left;}

.nav_bottom_lump_left_next_two_next_three ul li{width: 1.84rem;height: 0.52rem;}

.nav_bottom_lump_left_next_two_next_three ul li a{width: 1.84rem;height: 0.52rem;line-height: 0.52rem;text-align: left;display: block;box-sizing: border-box;padding-left: 0.22rem;}

.nav_bottom_lump_left_next_two_next_three ul li a h3{color: #252F36;font-size: 0.18rem;font-weight: normal;white-space: nowrap;}


.nav_bottom_lump_left_li_three_active h3{color: #59B976 !important;}





.nav_bottom_lump_middle{width: 4.13rem;height: 2.61rem;position: absolute;right: 0;top: 0.5rem;overflow: hidden;}

.nav_bottom_lump_middle ul{width: 4.13rem;height: 2.61rem;position: absolute; left: 0; top: 0;}

.nav_bottom_lump_middle ul li{width: 4.13rem;height: 2.61rem;position: absolute; left: 0; top: 0;display: none;}

.nav_bottom_lump_middle ul li img{width: 4.13rem;height: 2.61rem;transition: all ease 0.5s;}

.nav_bottom_lump_middle:hover img{transform: scale(1.1);}


.nav_bottom_lump_right{width: 1.99rem;height: 1.08rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;position: absolute;right: 0;bottom: 0;z-index: 999;}

.nav_bottom_lump_right_contact{width: 1.99rem;height: 1.08rem;display: flex;flex-direction: column;flex-wrap: nowrap;justify-content: space-between;align-items: center;cursor: pointer;}

.nav_bottom_lump_right_contact_tel{width: 1.99rem;height: 0.49rem;line-height: 0.49rem;text-align: center;box-sizing: border-box;border: 1px solid #707070;border-radius: 0.04rem;}

.nav_bottom_lump_right_contact_tel h3{color: #252F36;font-size: 0.26rem;font-weight: normal;font-family: impact;}

.nav_bottom_lump_right_contact_link{width: 1.99rem;height: 0.49rem;box-sizing: border-box;background-color: #59B976;border-radius: 0.04rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;}

.nav_bottom_lump_right_contact_link a{width: 1.99rem;height: 0.49rem;box-sizing: border-box;background-color: #59B976;border-radius: 0.04rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;}

.nav_bottom_lump_right_contact_link img{width: 0.28rem; height: 0.26rem;margin-right: 0.1rem;}

.nav_bottom_lump_right_contact_link h3{font-size: 0.18rem;font-weight: bold;color: #fff;}







/*******.nav_block导航结束********/





/*****index_part001*********/

.index_part001{width: 19.2rem;height: 0.98rem;}

.part001_center{width: 19.2rem;height: 0.98rem;margin: 0 auto;box-sizing: border-box;}

.part001_block{width: 19.2rem;height: 0.98rem;position: relative;}

.part001_top{width: 19.2rem;height: 0.97rem;box-sizing: border-box;padding-left: 2.1rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-between;align-items: center;}

.part001_top_left{width: 7.5rem;height: 0.97rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: flex-start;align-items: center;}

.part001_top_left_logo{width: 0.81rem;height: 0.97rem;}

.part001_top_left_logo a{width: 0.81rem;height: 0.97rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: flex-start;align-items: center;}

.part001_top_left_logo img{width: 0.58rem;height: 0.4rem;}

.part001_top_left_h1{width: 3.92rem;height: 0.97rem;line-height: 0.97rem;}

.part001_top_left_h1 a{width: 3.92rem;height: 0.97rem;line-height: 0.97rem;}

.part001_top_left_h1 h1{color: #000;font-size: 0.36rem;font-weight: bold;}

.part001_top_left_h3{width: 2.77rem;height: 0.97rem;line-height: 0.97rem;}

.part001_top_left_h3 h3{color: #59B976;font-size: 0.26rem;font-weight: bold;}


.part001_top_right{width: 4.64rem;height: 0.97rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;}

.part001_top_right_block{width: 4.64rem;height: 0.51rem;background-image: url(../images/zzImagesIndex/part001_top_right_block_bg.png);background-repeat: no-repeat;background-size: 100% 100%;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: flex-start;align-items: center;}

.part001_top_right_block_icon img{width: 0.45rem;height: 0.45rem;margin-left: 0.04rem;margin-right: 0.1rem;margin-top: 0.04rem;}

.part001_top_right_block_h3{color: #fff;font-size: 0.28rem;font-weight: bold;}














.part001_bottom{width: 19.2rem;height: 1px;border: none;background-color: #C5C5C5;position: relative;}


.part001_bottom hr{width: 19.2rem;height: 1px;margin: 0;position: absolute;left: 0;top: 0;border:none;}




















/*******index_part01*******/

.index_part01{width: 100%;height: 0.63rem;}

.index_part01_center{width: 15rem;height: 0.63rem;margin: 0 auto;position: relative;}




.part01_right{width: 15rem;height: 0.63rem;}

.part01_right ul{width: 15rem;height: 0.63rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-between;align-items: center;}

.part01_right ul li{width: 1.75rem;height: 0.63rem;cursor: pointer;transition: all ease 0.5s;}



.part01_right_li_font{width: 100%;height: 0.63rem;line-height: 0.63rem;text-align: center;}

.part01_right_li_font h3{color: #444444;font-size: 0.2rem;font-weight: normal;transition: all ease 0.5s;}





.part01_right_li_active .part01_right_li_font h3{color: #59B976 !important;}

.part01_right_li_bg_active{background-color: #59B976 !important;}

.part01_right_li_bg_active .part01_right_li_font h3{color: #fff !important;}






/*****index_part02*********/

.index_part02{width: 19.2rem;height: 4.92rem;position:relative;}

.part02_img{width: 19.2rem;height: 4.92rem;position: absolute;left: 0;top: 0;overflow: hidden;}

.part02_img img{width: 19.2rem;height: 4.92rem;transform: scale(1.2);transition: all ease 3s;}

.part02_center{width: 15rem;height: 4.92rem;margin: 0 auto;box-sizing: border-box;}

.part02_block{width: 15rem;height: 4.92rem;position: relative;box-sizing: border-box;padding-top: 1.36rem;}

.part02_block_h3 h3{color: #fff;font-size: 0.42rem;font-weight: bold;margin-bottom: 0.36rem;}

.part02_block_h6 h6{color: rgba(255, 255, 255, 0.8);font-size: 0.26rem;font-weight: normal;margin-bottom: 0.43rem;}
 
.part02_block_contact{width: 5.18rem;height: 0.71rem;border-radius: 0.71rem;background-color: rgba(255, 255, 255, 0.2);border: 2px solid #fff;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: flex-start;align-items: center;}

.part02_block_contact_tel{width: 2.51rem;height: 0.67rem;display: flex;flex-direction: column;flex-wrap: nowrap;justify-content: center;align-items: flex-start;box-sizing: border-box;padding-left: 0.39rem;}

.part02_block_contact_tel h6{color: #fff;font-size: 0.16rem;font-weight: normal;}

.part02_block_contact_tel h3{color: #fff;font-size: 0.26rem;font-weight: bold;position: relative;right: 0.12rem;}

.part02__blockcontact_link{width: 2.59rem;height: 0.67rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: flex-start;align-items: center;}

.part02_block_contact_link_piece{width: 2.54rem;height: 0.55rem;background-color: #59B976;border-radius: 0.55rem;position: relative;left: 0.05rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-between;align-items: center;box-sizing: border-box;padding-left: 0.22rem;padding-right: 0.22rem;cursor: pointer;
    
}

.part02_block_contact_link_piece h3{color: #fff;font-size: 0.22rem;font-weight: normal;}

.part02_block_contact_link_piece img{width: 0.29rem;height: 0.19rem;}













/*****index_part03*********/

.index_part03{width: 6.63rem;height: 4.35rem;background-color: #D8D8D8;border-radius: 0.2rem;}

.index_part03_center{width: 6.63rem;height: 4.35rem;margin: 0 auto;display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center;align-items: center;}

.part03_right{width: 6.39rem;height: 4.07rem;box-sizing: border-box;}

.part03_right_block{width: 6.39rem;height: 4.07rem;background: url(../images/zzImagesIndex/part03_right_button_bg.png) no-repeat;background-size: 100% 100%;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;border-radius: 0.2rem;}

.part03_right_button{width: 1.03rem;height: 1.05rem;position: relative;z-index: 1;}

.part03_right_button img{width: 1.03rem;height: 1.05rem}


.part03_right_button .point,
.part03_right_button .point::before,
.part03_right_button .point::after {
  position: absolute;
  width: 0.79rem;
  height: 0.79rem;
  border-radius: 50%;
  content: '';
  background-color: rgba(0, 0, 0, 0.14);
}

.part03_right_button .point{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}





.part03_right_button .point::after {
  animation: scale2 1.5s infinite;
}

.part03_right_button .point::before {
  animation: scale 1.5s infinite;
}


@keyframes scale {
  0% {
    transform: scale(1);
    opacity: 0.9;
  }
  100% {
    transform: scale(1.9);
    opacity: 0;
  }
}
@keyframes scale2 {
  0% {
    transform: scale(1);
    opacity: .9;
  }
  100% {
    transform: scale(1.9);
    opacity: 0;
  }
}







/******part3*****/

.index_part3{width: 100%;height: 1.07rem;position: relative;z-index: 61;background-image: url(../images/index/part3_bg.png);background-repeat: no-repeat;background-size: 100% 100%;}

.part3_center{width: 15rem;height: 1.07rem;margin: 0 auto;box-sizing: border-box;}

.part3_block{width: 15rem;height: 1.07rem;box-sizing: border-box;position: relative;}



.part3_left{width: 4.5rem;height: 0.59rem;position: absolute;left: 0.05rem;top: 0.24rem;z-index: 81;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;}

.part3_left_image{width: 0.59rem;height: 0.59rem;}

.part3_left_imag img{width: 0.59rem;height: 0.59rem;}

.part3_left_font{width: 3.91rem;height: 0.59rem;display: flex;flex-direction: column;flex-wrap: nowrap;justify-content: space-between;align-items: flex-start;box-sizing: border-box;padding-left: 0.1rem;}

.part3_left_font h3{color: #fff;font-size: 0.24rem;font-weight: bold;}

.part3_left_font h6{color: #fff;font-size: 0.16rem;font-weight: normal;}




.part3_right{width: 6.28rem;height: 0.5rem;position: absolute;top: 0.29rem;left: 4.55rem;z-index: 81;}

.part3_right_form{width: 6.28rem;height: 0.5rem;}

.part3_right_form form{width: 6.28rem;height: 0.5rem;position: relative;}

.part3_right_form_name{width: 2.1rem;height: 0.5rem;background-color: #fff;border: none;box-sizing: border-box;padding-left: 0.34rem;position: absolute;left: 0;top: 0;border-radius: 0rem;}

.part3_right_form_tel{width: 2.1rem;height: 0.5rem;background-color: #fff;border: none;box-sizing: border-box;padding-left: 0.34rem;position: absolute;left: 2.22rem;top: 0;border-radius: 0rem;}

.part3_right_form_button{width: 1.85rem;height: 0.5rem;color: #fff;font-size: 0.22rem;font-weight: normal;border: none;position: absolute;left: 4.43rem;top: 0rem;background-image: url(../images/index/part3_right_form_button_bg.png);background-repeat: no-repeat;background-size: 100% 100%;border-radius: 0rem;}

.part3_right_form_star{position: absolute;left: 2.33rem;top: 0.19rem;z-index: 51;color: #ff0101;font-size: 0.2rem;}




.part3_right_form input::-webkit-input-placeholder { /* WebKit browsers */ 

	color: #333333 !important; font-size: 0.18rem !important;font-weight: normal !important;position: relative !important;top: 0.05rem;

} 

.part3_right_form input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 

	color: #333333 !important; font-size: 0.18rem !important;font-weight: normal !important;position: relative !important;top: 0.05rem;

} 

.part3_right_form input::-moz-placeholder { /* Mozilla Firefox 19+ */ 

	color: #333333 !important; font-size: 0.18rem !important;font-weight: normal !important;position: relative !important;top: 0.05rem;

} 

.part3_right_form input:-ms-input-placeholder { /* Internet Explorer 10+ */ 

	color: #333333 !important; font-size: 0.18rem !important;font-weight: normal !important;position: relative !important;top: 0.05rem;

} 



.part3_tel{width: 2.51rem;height: 0.47rem;position: absolute;left: 11.59rem;top: 0.32rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;}

.part3_tel_icon{width: 0.51rem;height: 0.47rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: flex-start;align-items: center;}

.part3_tel_icon img{width: 0.4rem;height: 0.4rem;}

.part3_tel_font{width: 2rem;height: 0.47rem;display: flex;flex-direction: column;flex-wrap: nowrap;justify-content: space-between;align-items: flex-start;}

.part3_tel_font h6{color: #fff;font-size: 0.18rem;font-weight: normal;}

.part3_tel_font h3{color: #fff;font-size: 0.24rem;font-weight: bold;}




.part3_close{width: 0.45rem;height: 0.45rem;position: absolute;right: 0;top: 0.35rem;}

.part3_close img{width: 0.45rem;height: 0.45rem;}
















/*****index_part06*********/

.index_part06{width: 100%;height: 2.31rem;background-color: #282727;}

.index_part06_center{width: 12rem;height: 2.31rem;margin: 0 auto;}

.part06_left{width: 6rem;height: 2.31rem;float: left;display: flex;flex-direction: row;flex-wrap: nowrap;box-sizing: border-box;padding-left: 0.38rem;}

.part06_left_block{width: 4.57rem;height: 1.25rem;}

.part06_left_block img{width: 4.57rem;height: 1.25rem;}

.part06_right{width: 6rem;height: 2.31rem;box-sizing: border-box;padding-top: 0.35rem;float: left;margin: 0 auto;}

.part06_right_block{width: 6rem;height: 1.96rem;}

.part06_right_block ul{width: 6rem;height: 1.96rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-between;}

.part06_right_block ul li{width: 1.24rem;height: 1.96rem;}

.part06_right_block_li_img{width: 1.24rem;height: 1.24rem;}

.part06_right_block_li_img img{width: 1.24rem;height: 1.24rem;}

.part06_right_block_li_h6{width: 1.24rem;height: 0.72rem;line-height: 0.72rem;text-align: center;}

.part06_right_block_li_h6 h6{color: #FFFFFF;font-size: 0.3rem;}





/*****index_part011*********/

.index_part011{width: 19.2rem;height: 1.41rem;}

.part011_center{width: 15rem;height: 1.41rem;margin: 0 auto;}

.part011_block{width: 15rem;height: 1.41rem;line-height: 1.41rem;text-align: center;}

.part011_block h3{color: #333333;font-size: 0.33rem;font-weight: bold;}

.part011_block h3 b{color: #F26760;font-size: 0.33rem;font-weight: bold;}


































/*****index_part020*********/  

.index_part020{width: 19.2rem;height: 0.63rem;position: relative;z-index: 11;}

.part020_center{width: 15rem;height: 1.22rem;position: absolute;left: 2.1rem;top: 0;background-color: #59B976;border-radius: 0.2rem;}

.part020_block{width: 15rem;height: 1.22rem;}

.part020_block ul{width: 15rem;height: 1.22rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-between;align-items: center;}

.part020_block_li_piece_car{width: 5.19rem;height: 1.22rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: flex-start;align-items: center;}

.part020_block_li_piece_make{width: 4.78rem;height: 1.22rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: flex-start;align-items: center;}

.part020_block_li_piece_service{width: 5.01rem;height: 1.22rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: flex-start;align-items: center;}

.part020_block_li_piece_car_icon{width: 1.14rem;height: 1.22rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: flex-end;align-items: center;}

.part020_block_li_piece_car_icon img{width: 0.65rem;height: 0.65rem;}

.part020_block_li_piece_car_font{width: 4.04rem;height: 1.22rem;display: flex;flex-direction: column;flex-wrap: nowrap;justify-content: center;align-items: flex-start;box-sizing: border-box;padding-left: 0.1rem;}

.part020_block_li_piece_car_font h3{color: #fff;font-size: 0.24rem;font-weight: bold;}

.part020_block_li_piece_car_font h6{color: rgba(255, 255, 255, 0.6);font-size: 0.18rem;flex-wrap: nowrap;}




.part020_block_li_piece_make_icon{width: 1.09rem;height: 1.22rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: flex-end;align-items: center;}

.part020_block_li_piece_make_icon img{width: 0.66rem;height: 0.66rem;}

.part020_block_li_piece_make_font{width: 3.67rem;height: 1.22rem;display: flex;flex-direction: column;flex-wrap: nowrap;justify-content: center;align-items: flex-start;box-sizing: border-box;padding-left: 0.1rem;}

.part020_block_li_piece_make_font h3{color: #fff;font-size: 0.24rem;font-weight: bold;}

.part020_block_li_piece_make_font h6{color: rgba(255, 255, 255, 0.6);font-size: 0.18rem;flex-wrap: nowrap;}






.part020_block_li_piece_service_icon{width: 1.07rem;height: 1.22rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: flex-end;align-items: center;}

.part020_block_li_piece_service_icon img{width: 0.67rem;height: 0.67rem;}

.part020_block_li_piece_service_font{width: 3.95rem;height: 1.22rem;display: flex;flex-direction: column;flex-wrap: nowrap;justify-content: center;align-items: flex-start;box-sizing: border-box;padding-left: 0.1rem;}

.part020_block_li_piece_service_font h3{color: #fff;font-size: 0.24rem;font-weight: bold;}

.part020_block_li_piece_service_font h6{color: rgba(255, 255, 255, 0.6);font-size: 0.18rem;flex-wrap: nowrap;}





.part020_block_li_line{width: 1px;height: 1.22rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;}

.part020_block_li_line img{width: 1px;height: 0.65rem;}





/*****part21*****/

.index_part21{width: 100%;height: 1.07rem;position: fixed;bottom: 0;z-index: 333;transition: all ease 0.5s;}













/*****index_part022*********/  

.index_part022{width: 19.2rem;height: 4.28rem;position: relative;margin-bottom: 0.74rem;}

.part022_center{width: 15rem;height: 4.28rem;margin: 0 auto;}

.part022_block{width: 15rem;height: 4.28rem;margin: 0 auto;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-between;align-items: center;}

.part022_left{width: 7.35rem;height: 4.28rem;}

.part022_left ul{width: 7.35rem;height: 4.28rem;display: flex;flex-direction: column;flex-wrap: nowrap;justify-content: space-between;align-items: flex-start;}

.part022_left ul li{width: 7.35rem;height: 0.95rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;}

.part022_left_li_icon{width: 0.44rem;height: 0.95rem;}

.part022_left_li_icon_block{width: 0.06rem;height: 0.95rem;background-color: #9FBCA9;}


.part022_left_li_font{width: 6.91rem;height: 0.95rem;}

.part022_left_li_font_h3{width: 6.91rem;height: 0.48rem;}

.part022_left_li_font_h3 h3{color: #333333;font-size: 0.26rem;font-weight: bold;}

.part022_left_li_font_p{width: 6.91rem;height: 0.47rem;}

.part022_left_li_font_p p{color: #888888;font-size: 0.18rem;font-weight: normal;}





.part022_right{width: 7.65rem;height: 4.28rem;box-sizing: border-box;}

.part022_right_piece{width: 7.65rem;height: 4.28rem;overflow: hidden;position: relative;overflow: hidden;border-radius: 0.2rem;}
 
.part022_right_piece .swiper-slide{overflow: hidden;border-radius: 0.2rem;}

.part022_right_piece img{width: 7.65rem;height: 4.28rem;border-radius: 0.2rem;transition: all ease 0.5s;}

.part022_right_piece:hover img{transform: scale(1.1);}



.part022_left_li_active .part022_left_li_icon_block{width: 0.06rem;height: 0.95rem;background-color: #2F8E4C;}

.part022_left_li_active .part022_left_li_font_h3 h3{color: #2F8E4C;font-size: 0.26rem;font-weight: bold;}




/*****index_part023*********/  

.index_part023{width: 100%;height: 1.48rem;margin-bottom: 0.76rem;}

.part023_center{width: 15rem;height: 1.48rem;margin: 0 auto;}

.part023_block{width: 15rem;height: 1.48rem}

.part023_block ul{width: 15rem;height: 1.48rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-between;align-items: center;}

.part023_block ul li:nth-child(1){width: 5.9rem;height: 1.48rem;}

.part023_block ul li:nth-child(2){width: 4.24rem;height: 1.48rem;}

.part023_block ul li:nth-child(3){width: 4.24rem;height: 1.48rem;}

.part023_block_li_address{width: 5.9rem;height: 1.48rem;border: 2px solid #C5C5C5;border-radius: 0.2rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;}

.part023_block_li_address_font{width: 4.27rem;height: 1.48rem;display: flex;flex-direction: column;flex-wrap: nowrap;justify-content: center;align-items: flex-start;box-sizing: border-box;padding-left: 0.29rem;}

.part023_block_li_address_font h3{color: #2F8E4C;font-size: 0.24rem;font-weight: bold;margin-bottom: 0.2rem;}

.part023_block_li_address_font h6{color: #333333;font-size: 0.18rem;font-weight: normal;}

.part023_block_li_address_icon{width: 1.63rem;height: 1.48rem;position: relative;}

.part023_block_li_address_icon img{width: 1.12rem;height: 1.13rem;position: absolute;left: 0.31rem;top: 0.3rem;transition: all ease 0.5s;}

.part023_block_li_address:hover img{transform: scale(1.1);}




.part023_block_li_factory{width: 4.24rem;height: 1.48rem;border: 2px solid #C5C5C5;border-radius: 0.2rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;}

.part023_block_li_factory_font{width: 2.24rem;height: 1.48rem;display: flex;flex-direction: column;flex-wrap: nowrap;justify-content: center;align-items: flex-start;box-sizing: border-box;padding-left: 0.29rem;}

.part023_block_li_factory_font h3{color: #333333;font-size: 0.24rem;font-weight: bold;margin-bottom: 0.1rem;}

.part023_block_li_factory_font h6{color: #333333;font-size: 0.24rem;font-weight: bold;}

.part023_block_li_factory_font h6 b{color: #8C60FF;font-size: 0.24rem;font-weight: bold;}

.part023_block_li_factory_icon{width: 2rem;height: 1.48rem;position: relative;}

.part023_block_li_factory_icon img{width: 1.37rem;height: 1.37rem;position: absolute;left: 0.5rem;top: 0.12rem;transition: all ease 0.5s;}

.part023_block_li_factory:hover img{transform: scale(1.1);}



.part023_block_li_gift{width: 4.24rem;height: 1.48rem;border: 2px solid #C5C5C5;border-radius: 0.2rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;}

.part023_block_li_gift_font{width: 2.02rem;height: 1.48rem;display: flex;flex-direction: column;flex-wrap: nowrap;justify-content: center;align-items: flex-start;box-sizing: border-box;padding-left: 0.29rem;}

.part023_block_li_gift_font h3{color: #333333;font-size: 0.24rem;font-weight: bold;margin-bottom: 0.1rem;}

.part023_block_li_gift_font h6{color: #333333;font-size: 0.24rem;font-weight: bold;}

.part023_block_li_gift_font h6 b{color: #F26760;font-size: 0.24rem;font-weight: bold;}

.part023_block_li_gift_icon{width: 2.22rem;height: 1.48rem;position: relative;}

.part023_block_li_gift_icon img{width: 1.12rem;height: 1.13rem;position: absolute;left: 0.77rem;top: 0.15rem;transition: all ease 0.5s;}


.part023_block_li_gift:hover img{transform: scale(1.1);}








/*****index_part025*********/

.index_part025{width: 19.2rem;height: 0.82rem;margin-bottom: 0.76rem;}

.part025_center{width: 15rem;height: 0.82rem;position: relative;margin: 0 auto;}

.part025_block{width: 15rem;height: 0.82rem;position: relative;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-between;align-items: center;}

.part025_left{width: 9.6rem;height: 0.82rem;display: flex;flex-direction: column;flex-wrap: nowrap;justify-content: center;align-items: flex-start;}

.part025_left h3{color: #333333;font-size: 0.36rem;font-weight: bold;margin-bottom: 0.2rem;}

.part025_left h6{color: #888888;font-size: 0.2rem;font-weight: normal;}



.part025_right{width: 5.35rem;height: 0.82rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;}

.part025_right_piece{width: 5.35rem;height: 0.75rem;border: 2px solid #59B976;border-radius: 0.75rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;}

.part025_right_piece_tel{width: 2.7rem;height: 0.71rem;display: flex;flex-direction: column;flex-wrap: nowrap;justify-content: center;align-items: flex-start;box-sizing: border-box;padding-left: 0.32rem;}

.part025_right_piece_tel h6{color: #59B976;font-size: 0.15rem;font-weight: normal;margin-bottom: 0.05rem;}

.part025_right_piece_tel h3{color: #59B976;font-size: 0.34rem;font-weight: normal;font-family: impact;}

.part025_right_piece_link{width: 2.59rem;height: 0.71rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: flex-start;align-items: center;}

.part025_right_piece_link a{width: 2.53rem;height: 0.61rem;}

.part025_right_piece_link_lump{width: 2.53rem;height: 0.61rem;background-color: #59B976;border-radius: 0.61rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;}

.part025_right_piece_link_lump img{width: 0.39rem;height: 0.36rem;margin-right: 0.16rem;}

.part025_right_piece_link_lump h3{color: #fff;font-size: 0.28rem;font-weight: normal;}


















/*****index_part026*********/

.index_part026{width: 19.2rem;height: 6.68rem;margin-bottom: 0.6rem;background-image: url(../images/zzImagesContactUs/index_part026_bg.jpg);background-repeat: no-repeat;background-size: 100% 100%;}

.part026_center{width: 15rem;height: 6.68rem;position: relative;margin: 0 auto;}

.part026_block{width: 15rem;height: 6.68rem;position: relative;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: flex-end;align-items: center;}

.part026_right{width: 7.65rem;height: 5.68rem;background-color: #fff;border-radius: 0.2rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;}

.part026_right_block{width: 6.35rem;height: 5.68rem;}

.part026_right_block_title{width: 6.35rem;height: 1.57rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;}

.part026_right_block_title_font{width: 5.11rem;height: 1.57rem;display: flex;flex-direction: column;flex-wrap: nowrap;justify-content: center;align-items: flex-start;}

.part026_right_block_title_font h3{color: #333333;font-size: 0.36rem;font-weight: bold;margin-bottom: 0.2rem;}

.part026_right_block_title_font h6{color: #888888;font-size: 0.2rem;font-weight: normal;}

.part026_right_block_title_font h6 b{color: #F26760;font-size: 0.2rem;font-weight: normal;}



.part026_right_block_title_icon{width: 1.24rem;height: 1.57rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;}

.part026_right_block_title_icon img{width: 1.24rem;height: 1.24rem;}


.part026_right_block_content{width: 6.35rem;height: 3.62rem;}

.part026_right_block_content form{width: 6.35rem;height: 3.62rem;position: relative;}

.part026_right_block_content_name{width: 6.35rem;height: 0.62rem;border-radius: 0.2rem;background-color: #C9C9C9;position: absolute;left: 0;top: 0;border: none;box-sizing: border-box;padding-left: 1.92rem;padding-right: 0.3rem;outline:none;}

.part026_right_block_content_tel{width: 6.35rem;height: 0.62rem;border-radius: 0.2rem;background-color: #C9C9C9;position: absolute;left: 0;top: 0.79rem;border: none;box-sizing: border-box;padding-left: 1.92rem;padding-right: 0.3rem;outline:none;}

.part026_right_block_content_ly{width: 6.35rem;height: 1.07rem;border-radius: 0.2rem;background-color: #C9C9C9;position: absolute;left: 0;top: 1.58rem;border: none;box-sizing: border-box;padding-left: 1.3rem;resize: none;box-sizing: border-box;padding-top: 0.23rem;padding-right: 0.3rem;outline:none;}


.part026_right_block_content_button{width: 6.35rem;height: 0.78rem;line-height: 0.78rem;text-align: center;border-radius: 0.2rem;background-color: #59B976;position: absolute;left: 0;top: 2.84rem;border: none;}

.part026_right_block_content_button h3{color: #fff;font-size: 0.24rem;font-weight: normal;}

.part026_right_block_content_button h3 b{color: #FFD119;font-size: 0.24rem;font-weight: normal;}



.part026_right_block_content_form_icon_one{width: 1.91rem;height: 0.62rem;line-height: 0.62rem;text-align: right;position: absolute;left: 0;top: 0;}

.part026_right_block_content_form_icon_one h3{color: #333333;font-size: 0.18rem;font-weight: normal;}

.part026_right_block_content_form_icon_one h3 b{color: #F26760;font-size: 0.18rem;font-weight: normal;}


.part026_right_block_content_form_icon_two{width: 1.91rem;height: 0.62rem;line-height: 0.62rem;text-align: right;position: absolute;left: 0;top: 0.79rem;}

.part026_right_block_content_form_icon_two h3{color: #333333;font-size: 0.18rem;font-weight: normal;}

.part026_right_block_content_form_icon_two h3 b{color: #F26760;font-size: 0.18rem;font-weight: normal;}


.part026_right_block_content_form_icon_three{width: 1.31rem;height: 0.62rem;line-height: 0.62rem;text-align: right;position: absolute;left: 0;top: 1.62rem;}

.part026_right_block_content_form_icon_three h3{color: #333333;font-size: 0.18rem;font-weight: normal;}





.part026_right_block_content input::-webkit-input-placeholder {color: #888888 !important;font-size: 0.18rem !important;font-weight: normal !important;position:relative !important;}

.part026_right_block_content input::input-placeholder {color: #888888 !important;font-size: 0.18rem !important;font-weight: normal !important;position:relative !important;}

.part026_right_block_content textarea::-webkit-input-placeholder {color: #888888 !important;font-size: 0.18rem !important;font-weight: normal !important;position:relative !important;}

.part026_right_block_content textarea::input-placeholder {color: #888888 !important;font-size: 0.18rem !important;font-weight: normal !important;position:relative !important;}






/*****index_part028*********/

.index_part028{width: 19.2rem;height: 1.48rem;position: relative;margin-bottom: 0.61rem;}

.part028_center{width: 15rem;height: 1.48rem;margin: 0 auto;}

.part028_block{width: 15rem;height: 1.48rem;position: relative;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-between;align-items: center;}

.part028_left{width: 5.8rem;height: 1.48rem;}

.part028_left_h3{width: 5.8rem;height: 0.84rem;}

.part028_left_h3 h3{color: #333333;font-size: 0.36rem;font-weight: bold;}

.part028_left_h6{width: 5.8rem;height: 0.64rem;}

.part028_left_h6 h6{color: #888888;font-size: 0.22rem;font-weight: normal;margin-bottom: 0.05rem;}

.part028_right{width: 9.2rem;height: 1.48rem;}

.part028_right ul{width: 9.2rem;height: 1.48rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-between;align-items: center;}

.part028_right ul li:nth-child(1){width: 4.44rem;height: 1.48rem;}

.part028_right ul li:nth-child(2){width: 4.24rem;height: 1.48rem;}

.part028_right_li_experience{width: 4.44rem;height: 1.48rem;position: relative;}

.part028_right_li_experience_num{width: 0.63rem;height: 0.61rem;position: absolute;left: 0.35rem;top: -0.08rem;background-color: #fff;z-index: 9;}

.part028_right_li_experience_num img{width: 0.52rem;height: 0.61rem;position: absolute;left: 0.05rem;top: 0;}

.part028_right_li_experience_block{width: 4.44rem;height: 1.25rem;border: 3px solid #C5C5C5;border-radius: 0.2rem;position: absolute;left: 0;bottom: 0;text-align: center;box-sizing: border-box;padding-top: 0.6rem;}

.part028_right_li_experience_block h3{color: #333333;font-size: 0.28rem;font-weight: normal;}
 






.part028_right_li_people{width: 4.24rem;height: 1.48rem;position: relative;}

.part028_right_li_people_num{width: 1.05rem;height: 0.61rem;position: absolute;left: 0.35rem;top: -0.08rem;background-color: #fff;z-index: 9;}

.part028_right_li_people_num img{width: 0.79rem;height: 0.61rem;position: absolute;left: 0.05rem;top: 0;}

.part028_right_li_people_block{width: 4.24rem;height: 1.25rem;border: 3px solid #C5C5C5;border-radius: 0.2rem;position: absolute;left: 0;bottom: 0;text-align: center;box-sizing: border-box;padding-top: 0.6rem;}

.part028_right_li_people_block h3{color: #333333;font-size: 0.28rem;font-weight: normal;}
 















/*****index_part041*********/

.index_part041{width: 19.2rem;height: 3.66rem;position: relative;background-color: #C9C9C9;}

.part041_center{width: 15rem;height: 3.66rem;margin: 0 auto;box-sizing: border-box;}

.part041_block{width: 15rem;height: 3.66rem;position: relative;box-sizing: border-box;padding-top: 0.96rem;}

.part041_top{width: 15rem;height: 2.26rem;box-sizing: border-box;}

.part041_top ul{width: 15rem;height: 2.26rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-between;align-items: center;}

.part041_top_li_font{width: 3.35rem;height: 2.26rem;}

.part041_top_li_font_product{width: 3.35rem;height: 1.11rem;}

.part041_top_li_font_product_title{width: 3.35rem;height: 0.38rem;}

.part041_top_li_font_product_title h3{color: #333333;font-size: 0.2rem;font-weight: normal;}

.part041_top_li_font_product_content{width: 3.35rem;height: 0.68rem;}

.part041_top_li_font_product_content ul{width: 3.35rem;height: 0.68rem;display: flex;flex-direction: row;flex-wrap: wrap;justify-content: flex-start;align-items: flex-start;}

.part041_top_li_font_product_content ul li{margin-right: 0.17rem;margin-bottom: 0.1rem;}

.part041_top_li_font_product_content ul li h6{color: #333333;font-size: 0.16rem;font-weight: normal;transition: all ease 0.5s;}

.part041_top_li_font_product_content ul li:hover h6{color: #59B976;}


.part041_top_li_font_nav{width: 3.35rem;height: 1.15rem;}

.part041_top_li_font_nav_title{width: 3.35rem;height: 0.38rem;}

.part041_top_li_font_nav_title h3{color: #333333;font-size: 0.2rem;font-weight: normal;transition: all ease 0.5s;}

.part041_top_li_font_nav_title:hover h3{color: #59B976;}



.part041_top_li_font_nav_content{width: 3.35rem;height: 0.75rem;}

.part041_top_li_font_nav_content ul{width: 3.35rem;height: 0.75rem;display: flex;flex-direction: row;flex-wrap: wrap;justify-content: flex-start;align-items: flex-start;}

.part041_top_li_font_nav_content ul li{margin-right: 0.1rem;}

.part041_top_li_font_nav_content ul li h6{color: #333333;font-size: 0.16rem;font-weight: normal;transition: all ease 0.5s;}

.part041_top_li_font_nav_content ul li:hover h6{color: #59B976;}



.part041_top_li_weixin{width: 3.47rem;height: 2.26rem;}

.part041_top_li_weixin_block{width: 2.87rem;height: 2.26rem;margin: 0 auto;}

.part041_top_li_weixin_block ul{width: 2.87rem;height: 2.26rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-between;align-items: center;}

.part041_top_li_weixin_block ul li{width: 1.28rem;height: 2.26rem;text-align: center;}

.part041_top_li_weixin_block ul li img{width: 1.28rem;height: 1.3rem;margin-bottom: 0.05rem;}

.part041_top_li_weixin_block ul li h3{color: #333333;font-size: 0.2rem;font-weight: normal;}












.part041_top_li_address{width: 3.87rem;height: 2.26rem;box-sizing: border-box;padding-left: 0.31rem;}

.part041_top_li_address_block{width: 3.58rem;height: 2.26rem;}

.part041_top_li_address_block_tel{width: 3.58rem;height: 1.07rem;}

.part041_top_li_address_block_tel h6{color: #333333;font-size: 0.2rem;font-weight: normal;margin-bottom: 0.1rem;}

.part041_top_li_address_block_tel h3{color: #333333;font-size: 0.4rem;font-weight: normal;font-family: impact;}

.part041_top_li_address_block_location{width: 3.58rem;height: 0.61rem}

.part041_top_li_address_block_location h5{color: #333333;font-size: 0.2rem;font-weight: normal;margin-bottom: 0.1rem;}

.part041_top_li_address_block_location h6{color: #333333;font-size: 0.16rem;font-weight: normal;}















.part041_top_li_tiktok{width: 4.28rem;height: 2.26rem;}

.part041_top_li_tiktok_block{width: 4.28rem;height: 1.68rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;}

.part041_top_li_tiktok_block_left{width: 2.61rem;height: 1.68rem;display: flex;flex-direction: column;flex-wrap: nowrap;justify-content: space-between;align-items: center;}

.part041_top_li_tiktok_block_left_logo{width: 2.05rem;height: 0.95rem;}

.part041_top_li_tiktok_block_left_logo img{width: 2.05rem;height: 0.95rem;}

.part041_top_li_tiktok_block_left_link{width: 1.97rem;height: 0.51rem;background-color: #59B976;border-radius: 0.51rem;}

.part041_top_li_tiktok_block_left_link a{width: 1.97rem;height: 0.51rem;}

.part041_top_li_tiktok_block_left_link_piece{width: 1.97rem;height: 0.51rem;line-height: 0.51rem;text-align: center;}

.part041_top_li_tiktok_block_left_link_piece h3{color: #fff;font-size: 0.2rem;font-weight: normal;}

.part041_top_li_tiktok_block_left_link_piece h3 b{color: #FFD119;font-size: 0.2rem;font-weight: normal;}


.part041_top_li_tiktok_block_right{width: 1.58rem;height: 1.57rem;}

.part041_top_li_tiktok_block_right img{width: 1.58rem;height: 1.57rem;}








.part041_top_li_line{width: 1px;height: 2.26rem;position: relative;}

.part041_top_li_line img{width: 1px;height: 1.54rem;position: absolute;left: 0;top: 0;}




.part041_bottom{width: 15rem;height: 0.45rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;}

.part041_bottom_font{width: 1.92rem;height: 0.45rem;}

.part041_bottom_font h3{color: #666666;font-size: 0.2rem;font-weight: bold;}

.part041_bottom_list{width: 13.08rem;height: 0.45rem;}

.part041_bottom_list ul{width: 13.08rem;height: 0.45rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-between;align-items: flex-start;}

.part041_bottom_list ul li h6{color: #666666;font-size: 0.18rem;font-weight: normal;transition: all ease 0.5s;}

.part041_bottom_list ul li:hover h6{color: #59B976;}








/*****index_part043*********/

.index_part043{width: 19.2rem;height: 1px;position: relative;background-color: #9A9A9A;}

.part043_center{width: 19.2rem;height: 1px;;}

.part043_block{width: 19.2rem;height: 1px;position: relative;}













/***********.district-3*************/

.district-3 {

  width: 19.2rem;
  height: 5.92rem;
  margin: 0 auto 0.77rem auto;

}




.district-3-bottom {

  width: 19.2rem;
  height: 5.92rem;
  margin: 0 auto;
  
}















/*******scroll_top_block******/

.scroll_top_block_01{
  width: 1.02rem;
  height: 1.02rem;
  background-color: #59B976;
  color: #fff;
  border-radius: 0.2rem;
  position: fixed;
  left: 0.54rem;
  bottom: 0.2rem;
  z-index: 999;
}


.scroll_top_block_piece{
  width: 1.02rem;
  height: 1.02rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}


.scroll_top_block_piece img{
  width: 0.26rem;
  height: 0.3rem;
  margin-bottom: 0.1rem;
}

.scroll_top_block_piece h3{
  color: #fff;
  font-size: 0.19rem;
  font-weight: normal;
}






























.banquan {width: 19.2rem;height: 0.55rem;margin: 0 auto;background-color: #C9C9C9;}

.banquan_center{width: 15rem;height: 0.55rem;margin: 0 auto;box-sizing: border-box;padding-top: 0.17rem;}

.banquan_copy{width: 15rem;height: 0.36rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;}

.banquan_copy_h3{width: 3.93rem;height: 0.36rem;}

.banquan_copy_h3 h3{color: #666666;font-size: 0.16rem;font-weight: normal;}

.banquan_copy_a{width: 1.9rem;height: 0.36rem;}

.banquan_copy_a a{width: 1.9rem;height: 0.36rem;}

.banquan_copy_a a h6{color: #666666;font-size: 0.16rem;font-weight: normal;}








